@import "bootstrap";
div.header p, div.main h1{
	display: none;
}


.low_stock{
	font-weight: bold;
	color: #cccc00;
}

.out_stock{
	color: #cc0033;
	font-weight: bold;
}

.in_stock{
	color: #009900;
	font-weight: bold;
}



.main table{
    border-collapse: collapse;
}

.main table th{
    text-align: left;
    background: #EEE;
    padding: 6px 10px 6px 10px;
}

.main table td{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 6px 10px 6px 10px;
}

.main span.product_title{
    display: block;
    font-weight: bold;
    font-size: 120%;
}



a#new_product{

  padding: 4px 11px;
  font-size: .9em;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  box-shadow: rgba(255, 255, 255, 0.4) 0 -1px inset;
  -moz-border-radius: 1.2em;
  -webkit-border-radius: 1.2em;
  -o-border-radius: 1.2em;
  -ms-border-radius: 1.2em;
  -khtml-border-radius: 1.2em;
  border-radius: 1.2em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #CCC));
  background-image: -moz-linear-gradient(white,#CCC);
  background-image: linear-gradient(white,#CCC);
  text-shadow: white 0 1px;
  color: #999;
  text-decoration: none;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 930px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

